@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652323945366') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-niu:before {
  content: "\e642";
}

.icon-weishoucang:before {
  content: "\e603";
}

.icon-yishoucang:before {
  content: "\e614";
}

